.page-header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 140px;
  background: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 250px;
  }

  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 390px;
  }

  &__container {
    @include container();
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 130px;
    }
  }

  &__logo {
    margin: 0;
    margin-right: 15px;
  }

  &__nav {

    @media screen and (min-width: $screen-lg-min) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -100px);
    opacity: 0;
    transition: all .35s;

    @media screen and (min-width: $screen-sm-min) {
      bottom: 120px;
    }

    @media screen and (min-width: $screen-lg-min) {
      position: static;
      display: block;
      margin-left: 15px;
      transform: translate(0);
      opacity: 1;
    }
  }

  &__toggler {
    margin-left: auto;
    @media screen and (min-width: $screen-lg-min) {
      display: none;
    }
  }

  &__promo {
    text-align: center;
    font-family: $font-family--playfair;
    font-style: italic;
    font-weight: 400;
    transition: all .35s;
  }

  &__promo-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 38px;
    color: $text-black;

    @media screen and (min-width: $screen-md-min) {
      font-size: 48px;
    }

    @media screen and (min-width: $screen-lg-min) {
      font-size: 50px;
    }
  }

  &__promo-text {
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);

    @media screen and (min-width: $screen-md-min) {
      font-size: 24px;
    }
  }

  &--transform {
    .page-header__promo {
      transform: translateY(300px);
      opacity: 0;
    }
    .page-header__social {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
}
