.page-footer {
  padding-bottom: 40px;
  background: #000;

  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 150px;
  }

  &__container {
    @include container();
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md-min) {
      flex-direction: row;
    }
  }

  &__copyright {
    padding-top: 20px;
    margin-bottom: 30px;
    font-family: $font-family--raleway;
    font-size: 12px;
    color: $text-gray--dark;

    @media screen and (min-width: $screen-md-min) {
      width: 53%;
      padding-top: 25%;
      margin-bottom: 0;
    }

    @media screen and (min-width: $screen-lg-min) {
      padding-top: calc(18% + 30px);
    }
  }

  &__year {
    padding-right: 18px;
    margin-right: 12px;
    position: relative;

    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $text-gray--dark;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__main {

    @media screen and (min-width: $screen-md-min) {
      width: 47%;
      padding-left: 50px;
      padding-top: 40px;
    }

  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 125px;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 0 1 30%;
    margin-right: 30px;
  }

  &__nav-link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    text-decoration: none;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 7px;
    position: relative;
    font-family: $font-family--raleway;

    &::after {
      content: '';
      width: 18px;
      height: 6px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      transition: all .4s;

      background-image:
        linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(315deg, black 25%, transparent 25%),
        linear-gradient(135deg, black 25%, transparent 25%),
        linear-gradient(225deg, black 25%, transparent 25%);
      background-position:
        3px 0px,
        3px 0px,
        0 0,
        0 0;
      background-size: 6px 6px;
      background-repeat: repeat-x;
      background-color: $yellow;
    }

    &::before {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      left: 28px;
      bottom: 5px;
      background: #fff;
      transition: width .25s;
    }

    &:hover {
      &::before {
        width: calc(100% - 28px);
      }
    }
  }

  &__subscribe-title {
    font-size: 16px;
    font-weight: 400;
    color:  #fff;
    margin: 0;
    margin-bottom: 18px;
  }

  &__subscribe-form-inner {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $text-gray--dark;
    width: 100%;
    max-width: 300px;
    padding-bottom: 8px;

    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - 30px);
      max-width: 100%;
    }

    @media screen and (min-width: $screen-lg-min) {
      width: 60%;
    }
  }

  &__subscribe-icon {
    margin-right: 21px;
  }

  &__subscribe-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }

  &__subscribe-input {
    background: #000;
    border: none;
    color: $text-gray--dark;
    font-size: 14px;
    line-height: 1.71;
  }
}
