<article class="post">
  <a href="#" class="post__link">
    <img
      src="img/{{img1x}}"
      srcset="img/{{img2x}} 2x"
    alt="" class="post__img">
    <p class="post__text">{{{text}}}</p>
  </a>
</article>
