<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__copyright">
      <span class="page-footer__year">© 2017 Surfers Co.</span>
      <span class="page-footer__author-name">Design by @lucaalco</span>
    </div>
    <div class="page-footer__main">
      <nav class="page-footer__nav">
        <ul class="page-footer__nav-list">
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">About</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Boards</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Accessories</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Blog</a></li>
        </ul>
        <ul class="page-footer__nav-list">
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Technology</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Team</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Dealers</a></li>
          <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Contact us</a></li>
        </ul>
      </nav>
      <section class="page-footer__subscribe">
        <h3 class="page-footer__subscribe-title">Subscribe to our newsletter</h3>
        <form class="page-footer__subscribe-form">
          <div class="page-footer__subscribe-form-inner">
            <svg class="page-footer__subscribe-icon"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="16px" height="11px" viewBox="0 0 16 11">
              <path fill-rule="evenodd"  fill="rgb(77, 77, 77)"
               d="M10.905,4.935 L15.776,0.216 C15.914,0.352 16.000,0.541 16.000,0.750 L16.000,10.250 C16.000,10.447 15.922,10.625 15.798,10.759 L10.905,4.935 ZM0.249,0.195 C0.382,0.075 0.557,-0.000 0.750,-0.000 L15.250,-0.000 C15.443,-0.000 15.617,0.075 15.750,0.195 L8.000,6.250 L0.249,0.195 ZM0.202,10.759 C0.078,10.625 -0.000,10.447 -0.000,10.250 L-0.000,0.750 C-0.000,0.541 0.086,0.352 0.223,0.216 L5.094,4.935 L0.202,10.759 ZM8.000,7.750 L10.034,5.779 L15.764,10.793 C15.630,10.920 15.449,11.000 15.250,11.000 L0.750,11.000 C0.550,11.000 0.370,10.920 0.236,10.793 L5.966,5.779 L8.000,7.750 Z"/>
              </svg>
            <input class="page-footer__subscribe-input" type="email" placeholder="Your e-mail" required>
            <button class="page-footer__subscribe-button">
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="22px" height="22px">
                <path fill-rule="evenodd"  fill="rgb(0, 176, 255)"
                 d="M11.000,-0.000 C17.075,-0.000 22.000,4.924 22.000,11.000 C22.000,17.075 17.075,22.000 11.000,22.000 C4.925,22.000 -0.000,17.075 -0.000,11.000 C-0.000,4.924 4.925,-0.000 11.000,-0.000 Z"/>
                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                 d="M16.775,12.065 L16.775,12.065 L12.367,16.780 L12.367,16.779 C12.235,16.915 12.055,17.000 11.857,17.000 C11.451,17.000 11.122,16.648 11.122,16.214 C11.122,16.002 11.201,15.810 11.328,15.669 L11.328,15.669 L14.492,12.285 L5.735,12.285 C5.329,12.285 5.000,11.933 5.000,11.500 C5.000,11.066 5.329,10.714 5.735,10.714 L14.495,10.714 L11.378,7.381 C11.222,7.237 11.122,7.024 11.122,6.785 C11.122,6.351 11.451,6.000 11.857,6.000 C12.054,6.000 12.233,6.083 12.365,6.218 L12.367,6.216 L16.775,10.930 L16.775,10.931 C16.914,11.074 17.000,11.274 17.000,11.496 C17.000,11.497 17.000,11.497 17.000,11.498 C17.000,11.499 17.000,11.499 17.000,11.500 C17.000,11.722 16.914,11.922 16.775,12.065 Z"/>
                </svg>
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</footer>
