<header class="page-header">
  <div class="page-header__container">
    <div class="page-header__top">
      <h1 class="page-header__logo">
        <a href="#">
          <img
            src="img/logo.png"
            srcset="img/logo@2x.png 2x,
            img/logo@3x.png 3x"
            alt="Surfers Co." width="173" height="26">
        </a>
      </h1>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item"><a href="#" class="main-nav__link">Boards</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Accessories</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Blog</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Technology</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Team</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Dealers</a></li>
        </ul>
      </nav>
      <div class="page-header__social">
        <div class="social">
          <a href="#" class="social__link" target="_blank" title="facebook">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="36px" height="36px" viewBox="0 0 36 36">
              <path class="social__icon-wrapper" fill-rule="evenodd" fill="rgb(0, 0, 0)"
               d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
              <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(255, 255, 255)"
               d="M17.267,10.365 C17.354,10.312 17.449,10.266 17.553,10.228 C17.648,10.190 17.755,10.156 17.875,10.125 L18.530,9.999 L18.960,9.999 L21.988,10.228 L22.000,10.228 L21.690,12.927 L21.678,12.927 L20.009,12.756 L19.961,12.756 L19.794,12.778 L19.734,12.801 L19.544,12.893 C19.504,12.901 19.472,12.920 19.448,12.950 L19.305,13.099 C19.273,13.137 19.246,13.183 19.222,13.236 C19.198,13.282 19.178,13.332 19.162,13.385 C19.146,13.438 19.134,13.495 19.127,13.556 C19.118,13.609 19.115,13.667 19.115,13.728 L19.138,15.420 L21.594,15.444 L21.237,18.120 L19.115,18.199 L19.115,25.988 L19.103,25.999 L15.788,25.999 L15.788,18.131 L14.000,18.131 L14.000,15.444 L15.717,15.444 L15.717,15.420 L15.729,15.386 L15.788,12.515 L15.812,12.355 L15.812,12.275 L15.836,12.195 C15.844,12.134 15.860,12.077 15.884,12.023 C15.899,11.970 15.923,11.921 15.955,11.875 C15.987,11.761 16.031,11.658 16.086,11.566 C16.134,11.467 16.194,11.372 16.265,11.281 C16.321,11.196 16.388,11.117 16.468,11.040 C16.539,10.956 16.615,10.880 16.694,10.812 L16.694,10.800 L17.267,10.365 Z"/>
            </svg>
          </a>
          <a href="#" class="social__link" target="_blank" title="instagram">
            <svg
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="36px" height="36px" viewBox="0 0 36 36">
            <path class="social__icon-wrapper" fill-rule="evenodd"  fill="rgb(0, 0, 0)"
             d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
            <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(242, 242, 242)"
             d="M22.908,9.999 L13.092,9.999 C11.387,9.999 10.000,11.386 10.000,13.091 L10.000,16.357 L10.000,22.908 C10.000,24.613 11.387,25.999 13.092,25.999 L22.908,25.999 C24.613,25.999 26.000,24.613 26.000,22.908 L26.000,16.357 L26.000,13.091 C26.000,11.386 24.613,9.999 22.908,9.999 ZM23.795,11.844 L24.148,11.842 L24.148,12.194 L24.148,14.554 L21.445,14.563 L21.436,11.851 L23.795,11.844 ZM15.716,16.357 C16.229,15.648 17.060,15.183 18.000,15.183 C18.940,15.183 19.771,15.648 20.283,16.357 C20.617,16.820 20.816,17.386 20.816,18.000 C20.816,19.552 19.552,20.815 18.000,20.815 C16.447,20.815 15.184,19.552 15.184,18.000 C15.184,17.386 15.383,16.820 15.716,16.357 ZM24.441,22.908 C24.441,23.753 23.753,24.441 22.908,24.441 L13.092,24.441 C12.246,24.441 11.559,23.753 11.559,22.908 L11.559,16.357 L13.947,16.357 C13.741,16.865 13.625,17.419 13.625,18.000 C13.625,20.411 15.587,22.374 18.000,22.374 C20.412,22.374 22.375,20.411 22.375,18.000 C22.375,17.419 22.258,16.865 22.052,16.357 L24.441,16.357 L24.441,22.908 Z"/>
            </svg>
          </a>
          <a href="#" class="social__link" target="_blank" title="mail">
            <svg
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="36px" height="36px">
            <path class="social__icon-wrapper" fill-rule="evenodd" fill="rgb(0, 0, 0)"
             d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
            <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(255, 255, 255)"
             d="M26.400,25.223 L9.600,25.223 C8.936,25.223 8.400,24.686 8.400,24.023 L8.400,12.816 L13.919,17.908 L9.377,24.101 L15.500,19.366 L17.271,21.001 C17.627,21.268 18.003,21.227 17.989,21.227 C18.333,21.229 18.643,21.049 18.746,20.981 L18.719,21.007 C18.814,20.934 18.799,20.947 18.746,20.981 L20.595,19.271 L26.639,24.094 L22.014,17.957 L27.600,12.788 L27.600,24.023 C27.600,24.686 27.063,25.223 26.400,25.223 ZM8.400,12.023 C8.400,11.360 8.936,10.823 9.600,10.823 L26.400,10.823 C27.063,10.823 27.600,11.360 27.600,12.023 L17.994,18.897 L8.400,12.023 Z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="page-header__promo">
      <p class="page-header__promo-title">Ride every wave as if it's your last</p>
      <p class="page-header__promo-text">We love the motion of the ocean</p>
    </div>
  </div>
</header>
