<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lorem ipsum dolor">
  <title>Surfers</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400i|Raleway:400,700|Roboto:700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header class="page-header">
    <div class="page-header__container">
      <div class="page-header__top">
        <h1 class="page-header__logo">
          <a href="#">
            <img
              src="img/logo.png"
              srcset="img/logo@2x.png 2x,
              img/logo@3x.png 3x"
              alt="Surfers Co." width="173" height="26">
          </a>
        </h1>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a href="#" class="main-nav__link">Boards</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Accessories</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Blog</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Technology</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Team</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Dealers</a></li>
          </ul>
        </nav>
        <div class="page-header__social">
          <div class="social">
            <a href="#" class="social__link" target="_blank" title="facebook">
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="36px" height="36px" viewBox="0 0 36 36">
                <path class="social__icon-wrapper" fill-rule="evenodd" fill="rgb(0, 0, 0)"
                 d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
                <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                 d="M17.267,10.365 C17.354,10.312 17.449,10.266 17.553,10.228 C17.648,10.190 17.755,10.156 17.875,10.125 L18.530,9.999 L18.960,9.999 L21.988,10.228 L22.000,10.228 L21.690,12.927 L21.678,12.927 L20.009,12.756 L19.961,12.756 L19.794,12.778 L19.734,12.801 L19.544,12.893 C19.504,12.901 19.472,12.920 19.448,12.950 L19.305,13.099 C19.273,13.137 19.246,13.183 19.222,13.236 C19.198,13.282 19.178,13.332 19.162,13.385 C19.146,13.438 19.134,13.495 19.127,13.556 C19.118,13.609 19.115,13.667 19.115,13.728 L19.138,15.420 L21.594,15.444 L21.237,18.120 L19.115,18.199 L19.115,25.988 L19.103,25.999 L15.788,25.999 L15.788,18.131 L14.000,18.131 L14.000,15.444 L15.717,15.444 L15.717,15.420 L15.729,15.386 L15.788,12.515 L15.812,12.355 L15.812,12.275 L15.836,12.195 C15.844,12.134 15.860,12.077 15.884,12.023 C15.899,11.970 15.923,11.921 15.955,11.875 C15.987,11.761 16.031,11.658 16.086,11.566 C16.134,11.467 16.194,11.372 16.265,11.281 C16.321,11.196 16.388,11.117 16.468,11.040 C16.539,10.956 16.615,10.880 16.694,10.812 L16.694,10.800 L17.267,10.365 Z"/>
              </svg>
            </a>
            <a href="#" class="social__link" target="_blank" title="instagram">
              <svg
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="36px" height="36px" viewBox="0 0 36 36">
              <path class="social__icon-wrapper" fill-rule="evenodd"  fill="rgb(0, 0, 0)"
               d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
              <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(242, 242, 242)"
               d="M22.908,9.999 L13.092,9.999 C11.387,9.999 10.000,11.386 10.000,13.091 L10.000,16.357 L10.000,22.908 C10.000,24.613 11.387,25.999 13.092,25.999 L22.908,25.999 C24.613,25.999 26.000,24.613 26.000,22.908 L26.000,16.357 L26.000,13.091 C26.000,11.386 24.613,9.999 22.908,9.999 ZM23.795,11.844 L24.148,11.842 L24.148,12.194 L24.148,14.554 L21.445,14.563 L21.436,11.851 L23.795,11.844 ZM15.716,16.357 C16.229,15.648 17.060,15.183 18.000,15.183 C18.940,15.183 19.771,15.648 20.283,16.357 C20.617,16.820 20.816,17.386 20.816,18.000 C20.816,19.552 19.552,20.815 18.000,20.815 C16.447,20.815 15.184,19.552 15.184,18.000 C15.184,17.386 15.383,16.820 15.716,16.357 ZM24.441,22.908 C24.441,23.753 23.753,24.441 22.908,24.441 L13.092,24.441 C12.246,24.441 11.559,23.753 11.559,22.908 L11.559,16.357 L13.947,16.357 C13.741,16.865 13.625,17.419 13.625,18.000 C13.625,20.411 15.587,22.374 18.000,22.374 C20.412,22.374 22.375,20.411 22.375,18.000 C22.375,17.419 22.258,16.865 22.052,16.357 L24.441,16.357 L24.441,22.908 Z"/>
              </svg>
            </a>
            <a href="#" class="social__link" target="_blank" title="mail">
              <svg
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="36px" height="36px">
              <path class="social__icon-wrapper" fill-rule="evenodd" fill="rgb(0, 0, 0)"
               d="M17.500,-0.001 L18.500,-0.001 C28.165,-0.001 36.000,7.834 36.000,17.499 L36.000,18.499 C36.000,28.164 28.165,35.999 18.500,35.999 L17.500,35.999 C7.835,35.999 -0.000,28.164 -0.000,18.499 L-0.000,17.499 C-0.000,7.834 7.835,-0.001 17.500,-0.001 Z"/>
              <path class="social__icon-letter" fill-rule="evenodd"  fill="rgb(255, 255, 255)"
               d="M26.400,25.223 L9.600,25.223 C8.936,25.223 8.400,24.686 8.400,24.023 L8.400,12.816 L13.919,17.908 L9.377,24.101 L15.500,19.366 L17.271,21.001 C17.627,21.268 18.003,21.227 17.989,21.227 C18.333,21.229 18.643,21.049 18.746,20.981 L18.719,21.007 C18.814,20.934 18.799,20.947 18.746,20.981 L20.595,19.271 L26.639,24.094 L22.014,17.957 L27.600,12.788 L27.600,24.023 C27.600,24.686 27.063,25.223 26.400,25.223 ZM8.400,12.023 C8.400,11.360 8.936,10.823 9.600,10.823 L26.400,10.823 C27.063,10.823 27.600,11.360 27.600,12.023 L17.994,18.897 L8.400,12.023 Z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="page-header__promo">
        <p class="page-header__promo-title">Ride every wave as if it's your last</p>
        <p class="page-header__promo-text">We love the motion of the ocean</p>
      </div>
    </div>
  </header>

  <section class="boards">
    <h2 class="boards__title">Boards</h2>
    <!-- <div class="boards__title--svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 345.978 50.061"><g letter-spacing="0" word-spacing="0" stroke-width=".265"><g style="line-height:1.25" aria-label="BOARDS" font-weight="700" font-size="69.144" font-family="Montserrat" fill-opacity=".031"><path style="-inkscape-font-specification:'Montserrat, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M35.54 24.062q4.149 1.314 6.5 4.426 2.35 3.042 2.35 7.536 0 6.362-4.978 9.819-4.909 3.388-14.382 3.388H0V.83h23.647q8.85 0 13.553 3.388 4.77 3.388 4.77 9.196 0 3.526-1.728 6.292-1.66 2.766-4.702 4.356zM11.132 9.265v11.41h11.133q4.148 0 6.292-1.453Q30.7 17.77 30.7 14.935t-2.143-4.218q-2.144-1.452-6.292-1.452zm13.069 31.53q4.425 0 6.637-1.452 2.282-1.452 2.282-4.494 0-6.016-8.92-6.016H11.133v11.962zM83.862 50.06q-7.537 0-13.621-3.25-6.016-3.249-9.473-8.919-3.388-5.739-3.388-12.86 0-7.123 3.388-12.792 3.457-5.74 9.473-8.99Q76.325 0 83.862 0 91.4 0 97.415 3.25q6.015 3.25 9.472 8.989 3.458 5.67 3.458 12.791 0 7.122-3.458 12.861-3.457 5.67-9.472 8.92-6.016 3.25-13.553 3.25zm0-9.541q4.287 0 7.744-1.936Q95.064 36.577 97 33.05q2.005-3.526 2.005-8.02 0-4.495-2.005-8.021-1.936-3.527-5.394-5.463-3.457-2.005-7.744-2.005t-7.744 2.005q-3.457 1.936-5.462 5.463-1.936 3.526-1.936 8.02 0 4.495 1.936 8.021 2.005 3.526 5.462 5.532 3.457 1.936 7.744 1.936zM158.122 38.86H135.65l-4.287 10.37h-11.478L141.458.83h11.063l21.643 48.4h-11.755zm-3.526-8.506l-7.675-18.53-7.675 18.53zM217.507 49.23l-9.334-13.482H197.87V49.23H186.67V.83h20.95q6.43 0 11.133 2.143 4.77 2.144 7.329 6.085 2.558 3.941 2.558 9.334 0 5.394-2.627 9.335-2.558 3.872-7.33 5.946l10.856 15.558zm-.207-30.838q0-4.08-2.628-6.223-2.627-2.212-7.675-2.212h-9.127v16.871h9.127q5.048 0 7.675-2.213 2.628-2.212 2.628-6.223zM244.93.83h21.988q7.883 0 13.898 3.042 6.085 2.973 9.404 8.436 3.388 5.462 3.388 12.722t-3.388 12.723q-3.32 5.462-9.404 8.505-6.015 2.973-13.898 2.973H244.93zm21.435 39.205q7.26 0 11.547-4.01 4.356-4.08 4.356-10.995 0-6.914-4.356-10.925-4.287-4.08-11.547-4.08h-10.233v30.01zM325.442 50.06q-5.739 0-11.132-1.52-5.324-1.59-8.574-4.08l3.803-8.436q3.111 2.282 7.398 3.665 4.287 1.383 8.574 1.383 4.771 0 7.053-1.383 2.282-1.452 2.282-3.803 0-1.729-1.383-2.835-1.314-1.175-3.457-1.867-2.075-.691-5.67-1.521-5.532-1.314-9.058-2.628-3.526-1.313-6.085-4.217-2.489-2.904-2.489-7.745 0-4.217 2.282-7.605 2.282-3.458 6.845-5.463Q320.464 0 327.101 0q4.633 0 9.059 1.106 4.425 1.107 7.744 3.181l-3.457 8.505q-6.707-3.803-13.415-3.803-4.701 0-6.983 1.521-2.213 1.521-2.213 4.01 0 2.49 2.559 3.734 2.627 1.176 7.951 2.351 5.532 1.314 9.058 2.628 3.527 1.313 6.016 4.148 2.558 2.835 2.558 7.675 0 4.149-2.35 7.606-2.283 3.388-6.915 5.393-4.633 2.006-11.27 2.006z"/></g></g></svg>
</div> -->
    <div class="boards__slider">
      <div class="boards__slider-pointers">
        <button class="boards__slider-pointer boards__slider-pointer--prev">
          <svg
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="38px" height="38px">
            <path class="boards__slider-pointer-icon" fill-rule="evenodd"  fill="rgb(242, 216, 0)"
             d="M-0.000,-0.000 L38.000,-0.000 L38.000,38.000 L-0.000,38.000 L-0.000,-0.000 Z"/>
            <path fill-rule="evenodd"  fill="rgb(247, 247, 247)"
             d="M26.021,20.000 L14.341,20.000 L18.495,24.241 C18.704,24.425 18.837,24.696 18.837,25.000 C18.837,25.552 18.398,25.999 17.857,25.999 C17.594,25.999 17.355,25.893 17.180,25.721 L17.177,25.724 L11.300,19.724 L11.300,19.724 C11.115,19.542 11.000,19.287 11.000,19.004 C11.000,19.003 11.000,19.002 11.000,19.002 C11.000,19.001 11.000,19.000 11.000,18.999 C11.000,18.717 11.115,18.462 11.300,18.280 L11.300,18.280 L17.177,12.280 L17.177,12.280 C17.353,12.107 17.593,11.999 17.857,11.999 C18.398,11.999 18.837,12.447 18.837,12.999 C18.837,13.269 18.732,13.514 18.562,13.694 L18.562,13.694 L14.344,18.000 L26.021,18.000 C26.561,18.000 27.000,18.447 27.000,19.000 C27.000,19.552 26.561,20.000 26.021,20.000 Z"/>
            </svg>
        </button>
        <button class="boards__slider-pointer boards__slider-pointer--next">
          <svg
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="38px" height="38px">
            <path class="boards__slider-pointer-icon" fill-rule="evenodd"  fill="rgb(242, 216, 0)"
             d="M-0.000,-0.000 L38.000,-0.000 L38.000,38.000 L-0.000,38.000 L-0.000,-0.000 Z"/>
            <path fill-rule="evenodd"  fill="rgb(247, 247, 247)"
             d="M27.000,19.002 C27.000,19.002 27.000,19.003 27.000,19.004 C27.000,19.287 26.885,19.542 26.700,19.724 L26.700,19.724 L20.823,25.724 L20.820,25.721 C20.644,25.893 20.406,25.999 20.143,25.999 C19.601,25.999 19.163,25.552 19.163,25.000 C19.163,24.696 19.296,24.425 19.505,24.241 L23.659,20.000 L11.979,20.000 C11.438,20.000 11.000,19.552 11.000,19.000 C11.000,18.447 11.438,18.000 11.979,18.000 L23.655,18.000 L19.437,13.694 L19.438,13.694 C19.268,13.514 19.163,13.269 19.163,12.999 C19.163,12.447 19.601,11.999 20.143,11.999 C20.407,11.999 20.646,12.107 20.823,12.280 L20.823,12.280 L26.700,18.280 L26.700,18.280 C26.885,18.462 27.000,18.717 27.000,18.999 C27.000,19.000 27.000,19.001 27.000,19.002 Z"/>
            </svg>
        </button>
      </div>

      <!-- SLIDER-CONTENT BEGIN-->
      <span class="boards__slider-counter">05/25</span>

      {{> boards}}
    </div>

    <!-- SLIDER-CONTENT END -->

  </section>

  <section class="about">
    <h2 class="about__title">About us</h2>
    <div class="about__container">
      <div class="about__title-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 423.56 50.061"><g letter-spacing="0" word-spacing="0" stroke-width=".265"><text y="133.698" x="3.475" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-93.19 -90.08)"/><text y="106.971" x="74.835" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-93.19 -90.08)"/><text y="144.656" x="79.112" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-93.19 -90.08)"/><g style="line-height:1.25" aria-label="ABOUT US" font-weight="700" font-size="69.144" font-family="Montserrat" fill-opacity=".031"><path style="-inkscape-font-specification:'Montserrat, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M38.237 38.86H15.765l-4.287 10.37H0L21.573.83h11.063l21.642 48.4H42.524zm-3.526-8.506l-7.676-18.53-7.675 18.53zM102.324 24.062q4.148 1.314 6.5 4.426 2.35 3.042 2.35 7.536 0 6.362-4.978 9.819-4.91 3.388-14.382 3.388h-25.03V.83H90.43q8.85 0 13.552 3.388 4.771 3.388 4.771 9.196 0 3.526-1.728 6.292-1.66 2.766-4.702 4.356zM77.916 9.265v11.41h11.132q4.149 0 6.292-1.453 2.144-1.452 2.144-4.287t-2.144-4.218q-2.143-1.452-6.292-1.452zm13.068 31.53q4.425 0 6.638-1.452 2.282-1.452 2.282-4.494 0-6.016-8.92-6.016H77.916v11.962zM150.646 50.06q-7.537 0-13.622-3.25-6.015-3.249-9.472-8.919-3.389-5.739-3.389-12.86 0-7.123 3.389-12.792 3.457-5.74 9.472-8.99Q143.11 0 150.646 0t13.552 3.25q6.016 3.25 9.473 8.989 3.457 5.67 3.457 12.791 0 7.122-3.457 12.861-3.457 5.67-9.473 8.92-6.015 3.25-13.552 3.25zm0-9.541q4.287 0 7.744-1.936 3.457-2.006 5.393-5.532 2.005-3.526 2.005-8.02 0-4.495-2.005-8.021-1.936-3.527-5.393-5.463-3.457-2.005-7.744-2.005t-7.744 2.005q-3.458 1.936-5.463 5.463-1.936 3.526-1.936 8.02 0 4.495 1.936 8.021 2.005 3.526 5.463 5.532 3.457 1.936 7.744 1.936zM215.068 50.06q-10.371 0-16.18-5.738-5.738-5.74-5.738-16.388V.83h11.201v26.69q0 12.999 10.787 12.999 5.255 0 8.02-3.112 2.766-3.18 2.766-9.888V.83h11.063v27.105q0 10.649-5.808 16.388-5.739 5.739-16.11 5.739zM265.498 9.957H250.01V.83h42.178v9.127H276.7V49.23h-11.202zM346.717 50.06q-10.372 0-16.18-5.738-5.739-5.74-5.739-16.388V.83h11.201v26.69q0 12.999 10.787 12.999 5.255 0 8.02-3.112 2.766-3.18 2.766-9.888V.83h11.064v27.105q0 10.649-5.809 16.388-5.739 5.739-16.11 5.739zM403.024 50.06q-5.74 0-11.132-1.52-5.324-1.59-8.574-4.08l3.803-8.436q3.111 2.282 7.398 3.665 4.287 1.383 8.574 1.383 4.771 0 7.053-1.383 2.282-1.452 2.282-3.803 0-1.729-1.383-2.835-1.314-1.175-3.458-1.867-2.074-.691-5.67-1.521-5.531-1.314-9.057-2.628-3.527-1.313-6.085-4.217-2.49-2.904-2.49-7.745 0-4.217 2.283-7.605 2.281-3.458 6.845-5.463Q398.045 0 404.683 0q4.633 0 9.058 1.106 4.426 1.107 7.744 3.181l-3.457 8.505q-6.707-3.803-13.414-3.803-4.702 0-6.983 1.521-2.213 1.521-2.213 4.01 0 2.49 2.558 3.734 2.628 1.176 7.952 2.351 5.532 1.314 9.058 2.628 3.526 1.313 6.015 4.148 2.559 2.835 2.559 7.675 0 4.149-2.351 7.606-2.282 3.388-6.915 5.393-4.632 2.006-11.27 2.006z"/></g></g></svg>
      </div>
    </div>

    <div class="about__description-wrapper">
      <div class="about__description">
        <h3 class="about__description-title">We are Surfers co.</h3>
        <p class="about__description-text">Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun finibustus scelerisque.</p>
        <div class="about__link">
          <a href="#" class="btn btn--more">Read more</a>
        </div>
      </div>
      <div class="about__video">
        <div class="about__video-overlay-picture">
          <a href="#" class="about__video-link"></a>
        </div>
      </div>
    </div>  <!-- about__description-wrapper -->
  </section>

  <section class="team">
    <div class="team__container">
      <h2 class="team__title">Our team</h2>
      <div class="team__title-svg">
        <svg xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 427.694 50.061"><defs><linearGradient osb:paint="solid" id="a"><stop offset="0"/></linearGradient><linearGradient y2="115.11" x2="445.529" y1="115.11" x1="99.551" gradientUnits="userSpaceOnUse" id="b" xlink:href="#a"/></defs><g letter-spacing="0" word-spacing="0" stroke-width=".265"><text y="133.698" x="3.475" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-96.508 -90.08)"/><text y="106.971" x="74.835" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-96.508 -90.08)"/><text y="144.656" x="79.112" style="line-height:1.25" font-weight="400" font-size="10.583" font-family="sans-serif" transform="translate(-96.508 -90.08)"/><g style="line-height:1.25" aria-label="OUR TEAM" font-weight="700" font-size="69.144" font-family="Montserrat" fill="url(#b)" fill-opacity=".031" transform="translate(-96.508 -90.08)"><path style="-inkscape-font-specification:'Montserrat, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M122.99 140.14q-7.536 0-13.62-3.25-6.016-3.249-9.474-8.919-3.388-5.739-3.388-12.86 0-7.122 3.388-12.792 3.458-5.74 9.473-8.99 6.085-3.249 13.622-3.249 7.536 0 13.552 3.25 6.015 3.25 9.473 8.989 3.457 5.67 3.457 12.791 0 7.122-3.457 12.861-3.458 5.67-9.473 8.92-6.016 3.25-13.552 3.25zm0-9.541q4.288 0 7.745-1.936 3.457-2.005 5.393-5.532 2.005-3.526 2.005-8.02 0-4.495-2.005-8.021-1.936-3.527-5.393-5.463-3.457-2.005-7.744-2.005t-7.745 2.005q-3.457 1.936-5.462 5.463-1.936 3.526-1.936 8.02 0 4.495 1.936 8.021 2.005 3.527 5.462 5.532 3.458 1.936 7.745 1.936zM186.879 140.14q-10.372 0-16.18-5.738-5.74-5.74-5.74-16.388V90.91h11.202v26.69q0 12.999 10.787 12.999 5.255 0 8.02-3.112 2.766-3.18 2.766-9.887V90.91h11.063v27.104q0 10.649-5.808 16.388-5.739 5.739-16.11 5.739zM258.121 139.311l-9.335-13.483h-10.303v13.483h-11.2V90.91h20.95q6.43 0 11.133 2.143 4.77 2.144 7.329 6.085 2.558 3.941 2.558 9.335 0 5.393-2.627 9.334-2.559 3.872-7.33 5.946l10.856 15.558zm-.207-30.838q0-4.08-2.628-6.223-2.627-2.213-7.675-2.213h-9.127v16.871h9.127q5.048 0 7.675-2.212 2.628-2.213 2.628-6.223zM315.152 100.037h-15.488V90.91h42.178v9.127h-15.489v39.274h-11.201zM392.76 130.322v8.989h-37.475V90.91h36.577v8.989h-25.445v10.51h22.472v8.712h-22.472v11.201zM441.1 128.94h-22.472l-4.287 10.371h-11.478l21.573-48.401H435.5l21.643 48.401h-11.755zm-3.526-8.505l-7.675-18.531-7.675 18.53zM513.692 139.311l-.07-29.04-14.243 23.923h-5.048l-14.174-23.301v28.418h-10.51V90.91h9.265l18.116 30.078 17.84-30.078h9.196l.138 48.401z"/></g></g></svg>
      </div>
      <div class="team__content-wrapper">

        <div class="team__slider">
          <button class="team__slider-pointer team__slider-pointer--prev">
            <svg class="team__slider-pointer-svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="16px" height="14px">
              <path fill="#0022ff"
               d="M15.021,8.000 L3.341,8.000 L7.495,12.241 C7.704,12.425 7.837,12.696 7.837,13.000 C7.837,13.552 7.398,14.000 6.857,14.000 C6.594,14.000 6.355,13.894 6.180,13.721 L6.177,13.724 L0.300,7.724 L0.300,7.724 C0.115,7.542 -0.000,7.287 -0.000,7.004 C-0.000,7.003 0.000,7.003 0.000,7.002 C0.000,7.001 -0.000,7.000 -0.000,6.999 C-0.000,6.717 0.115,6.462 0.300,6.280 L0.300,6.280 L6.177,0.280 L6.177,0.280 C6.353,0.107 6.593,-0.001 6.857,-0.001 C7.398,-0.001 7.837,0.447 7.837,0.999 C7.837,1.269 7.732,1.514 7.562,1.694 L7.562,1.694 L3.344,6.000 L15.021,6.000 C15.561,6.000 16.000,6.447 16.000,7.000 C16.000,7.552 15.561,8.000 15.021,8.000 Z"/>
              </svg>
          </button>
          <button class="team__slider-pointer team__slider-pointer--next">
            <svg class="team__slider-pointer-svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="16px" height="14px">
            <path fill="#0022ff"
             d="M16.000,7.002 C16.000,7.003 16.000,7.003 16.000,7.004 C16.000,7.287 15.885,7.542 15.700,7.724 L15.700,7.724 L9.823,13.724 L9.820,13.721 C9.644,13.894 9.406,14.000 9.143,14.000 C8.602,14.000 8.163,13.552 8.163,13.000 C8.163,12.696 8.296,12.425 8.505,12.241 L12.659,8.000 L0.979,8.000 C0.438,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.447 0.438,6.000 0.979,6.000 L12.656,6.000 L8.437,1.694 L8.438,1.694 C8.268,1.514 8.163,1.269 8.163,0.999 C8.163,0.447 8.602,-0.001 9.143,-0.001 C9.407,-0.001 9.646,0.107 9.823,0.280 L9.823,0.280 L15.700,6.280 L15.700,6.280 C15.885,6.462 16.000,6.717 16.000,6.999 C16.000,7.000 16.000,7.001 16.000,7.002 Z"/>
            </svg>
          </button>

          <div class="team__slider-items">

            <div class="team__slider-item">
              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Taj Burrow</h3>
                  <span class="person__username">@tajamos</span>
                  <span class="person__location">Yallingup, Australia</span>
                </a>
              </section>
            </div>

            <div class="team__slider-item">
              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Malia Manuel</h3>
                  <span class="person__username">@maliamanuel</span>
                  <span class="person__location">Wailua, Hi</span>
                </a>
              </section>
            </div>

            <div class="team__slider-item">
              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Ian Walsh</h3>
                  <span class="person__username">@ian.walsh</span>
                  <span class="person__location">Maui, Hi</span>
                </a>
              </section>
            </div>


            <div class="team__slider-item">
              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Macy Callaghan</h3>
                  <span class="person__username">@macyjanecallaghan</span>
                  <span class="person__location">San Clemente, CA</span>
                </a>
              </section>
            </div>

  <!--           <div class="team__slider-item">

              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Macy Callaghan</h3>
                  <span class="person__username">@macyjanecallaghan</span>
                  <span class="person__location">San Clemente, CA</span>
                </a>
              </section>
            </div>

            <div class="team__slider-item">

              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Macy Callaghan</h3>
                  <span class="person__username">@macyjanecallaghan</span>
                  <span class="person__location">San Clemente, CA</span>
                </a>
              </section>
            </div>

            <div class="team__slider-item">

              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Macy Callaghan</h3>
                  <span class="person__username">@macyjanecallaghan</span>
                  <span class="person__location">San Clemente, CA</span>
                </a>
              </section>
            </div>

            <div class="team__slider-item">

              <section class="person">
                <a href="#" target="_blank" class="person__link">
                  <img src="img/tim--taj2x.jpg" alt="" class="person__img">
                  <h3 class="person__name">Macy Callaghan</h3>
                  <span class="person__username">@macyjanecallaghan</span>
                  <span class="person__location">San Clemente, CA</span>
                </a>
              </section>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="posts">
    <div class="posts__container">
      <h2 class="posts__title">Latest updates</h2>
      <div class="posts__list">
        <div class="posts__list-item">
          <article class="post">
            <a href="#" class="post__link">
              <img src="img/post--1.jpg" alt="" class="post__img">
              <p class="post__text">Ellie Turner and Jobe Harris have taken out the 2016 British National Surf Championships</p>
            </a>
          </article>
        </div>

        <div class="posts__list-item">
          <article class="post">
            <a href="#" class="post__link">
              <img src="img/post--2.jpg" alt="" class="post__img">
              <p class="post__text">A large group of surfers invaded the coast of La Jolla Shores, in California, with a single goal in mind</p>
            </a>
          </article>
        </div>

        <div class="posts__list-item">
          <article class="post">
            <a href="#" class="post__link">
              <img src="img/post--3.jpg" alt="" class="post__img">
              <p class="post__text">Surfboards are constantly evolving, and there are multiple board designs for a broad range of environments</p>
            </a>
          </article>
        </div>

<!--         <div class="posts__list-item">
          <article class="post">
            <a href="#" class="post__link">
              <img src="http://placehold.it/540X400" alt="" class="post__img">
              <p class="post__text">Surfboards are constantly evolving, and there are multiple board designs for a broad range of environments</p>
            </a>
          </article>
        </div> -->

      </div>

      <div class="posts__btn">
        <a href="#" class="btn btn--rect-blue">View all posts</a>
      </div>
    </div>
  </section>

  <div class="follow-social">
    <div class="follow-social__container">
      <div class="follow-social__title-svg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.757 22.987"><g style="line-height:1.25" aria-label="INSTAGRAM" font-weight="700" font-size="31.75" font-family="Montserrat" letter-spacing="2.381" word-spacing="0" stroke-width=".265" fill-opacity=".031"><path style="-inkscape-font-specification:'Montserrat, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M0 .381h5.144v22.225H0zM33.183.381v22.225H28.96L17.88 9.112v13.494H12.8V.381h4.254l11.049 13.494V.38zM48.156 22.987q-2.635 0-5.112-.698-2.445-.73-3.937-1.874l1.746-3.873q1.43 1.048 3.398 1.683 1.968.635 3.937.635 2.19 0 3.238-.635 1.048-.667 1.048-1.747 0-.793-.635-1.301-.603-.54-1.588-.858-.952-.317-2.603-.698-2.54-.603-4.16-1.207-1.619-.603-2.793-1.936-1.143-1.334-1.143-3.556 0-1.937 1.047-3.493 1.048-1.587 3.144-2.508Q45.87 0 48.918 0q2.127 0 4.16.508 2.031.508 3.555 1.46l-1.587 3.906q-3.08-1.746-6.16-1.746-2.159 0-3.207.698-1.016.699-1.016 1.842 0 1.143 1.175 1.714 1.207.54 3.651 1.08 2.54.603 4.16 1.206 1.619.603 2.762 1.905 1.175 1.302 1.175 3.524 0 1.905-1.08 3.493-1.048 1.556-3.175 2.476-2.127.921-5.175.921zM67.806 4.572h-7.112V.381h19.368v4.191H72.95v18.034h-5.144zM98.7 17.844H88.38l-1.968 4.762h-5.27L91.047.381h5.08l9.938 22.225h-5.398zm-1.62-3.906L93.557 5.43l-3.524 8.51zM125.46 11.144h4.7v9.017q-1.81 1.365-4.191 2.096-2.382.73-4.795.73-3.46 0-6.223-1.46-2.762-1.493-4.35-4.096-1.555-2.635-1.555-5.937 0-3.302 1.556-5.906 1.587-2.635 4.381-4.096Q117.777 0 121.27 0q2.92 0 5.302.984 2.381.985 4 2.858L127.27 6.89q-2.38-2.508-5.746-2.508-2.128 0-3.779.889-1.65.889-2.571 2.508-.921 1.619-.921 3.715 0 2.063.92 3.683.921 1.619 2.54 2.54 1.652.889 3.747.889 2.223 0 4-.953zM151.48 22.606l-4.287-6.191h-4.731v6.191h-5.143V.381h9.62q2.953 0 5.112.984 2.19.985 3.365 2.794 1.175 1.81 1.175 4.287 0 2.476-1.206 4.286-1.175 1.778-3.366 2.73l4.985 7.144zm-.096-14.16q0-1.874-1.207-2.858-1.206-1.016-3.524-1.016h-4.19v7.747h4.19q2.318 0 3.524-1.016 1.207-1.016 1.207-2.857zM177.653 17.844h-10.319l-1.968 4.762h-5.27L170 .381h5.08l9.938 22.225h-5.397zm-1.62-3.906L172.51 5.43l-3.525 8.51zM209.931 22.606l-.032-13.335-6.54 10.986h-2.318l-6.509-10.7v13.049h-4.826V.381h4.255l8.318 13.811L210.471.381h4.223l.063 22.225z"/></g></svg>
        </div>

        <div class="follow-social__items">
          <div class="follow-social__instagram">
            <div class="follow-social__instagram-content-overlay">
              <div class="follow-social__instagram-content">
                <a href="#" class="follow-social__instagram-img-cover-link">
                  <div class="follow-social__instagram-img-wrapper">
                    <img class="follow-social__instagram-img" src="img/instagram@2x.jpg" alt="">
                  </div>
                </a>
                <div class="follow-social__instagram-description">
                  <svg class="follow-social__instagram-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="30px" height="30px" viewBox="0 0 30 30">
                    <path fill-rule="evenodd"  fill="rgb(0, 176, 255)"
                     d="M23.834,0.599 L6.166,0.599 C3.096,0.599 0.600,3.095 0.600,6.164 L0.600,12.043 L0.600,23.834 C0.600,26.903 3.096,29.399 6.166,29.399 L23.834,29.399 C26.903,29.399 29.400,26.903 29.400,23.834 L29.400,12.043 L29.400,6.164 C29.400,3.095 26.903,0.599 23.834,0.599 ZM25.430,3.919 L26.067,3.916 L26.067,4.550 L26.067,8.797 L21.202,8.813 L21.185,3.932 L25.430,3.919 ZM10.890,12.043 C11.812,10.766 13.308,9.929 15.000,9.929 C16.692,9.929 18.188,10.766 19.110,12.043 C19.710,12.876 20.069,13.895 20.069,14.999 C20.069,17.793 17.794,20.067 15.000,20.067 C12.205,20.067 9.931,17.793 9.931,14.999 C9.931,13.895 10.290,12.876 10.890,12.043 ZM26.594,23.834 C26.594,25.356 25.356,26.593 23.834,26.593 L6.166,26.593 C4.644,26.593 3.406,25.356 3.406,23.834 L3.406,12.043 L7.705,12.043 C7.334,12.957 7.125,13.954 7.125,14.999 C7.125,19.340 10.657,22.874 15.000,22.874 C19.342,22.874 22.874,19.340 22.874,14.999 C22.874,13.954 22.665,12.957 22.294,12.043 L26.594,12.043 L26.594,23.834 Z"/>
                    </svg>
                    <a href="#" class="follow-social__instagram-link">follow</a>
                    <span class="follow-social__instagram-tag">@surfersco</span>
                </div>
              </div>
            </div>
          </div>
          <div class="follow-social__facebook">
            <div class="follow-social__facebook-content">
              <svg class="follow-social__facebook-title"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 156 35">
              <defs>
              <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="156px" height="35px"  >
                  <feOffset in="SourceAlpha" dx="0" dy="1" />
                  <feGaussianBlur result="blurOut" stdDeviation="1" />
                  <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                  <feComposite operator="atop" in="floodOut" in2="blurOut" />
                  <feComponentTransfer><feFuncA type="linear" slope="0.3"/></feComponentTransfer>
                  <feMerge>
                  <feMergeNode/>
                  <feMergeNode in="SourceGraphic"/>
                </feMerge>
              </filter>
              <linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
                <stop offset="0%" stop-color="rgb(0,0,0)" stop-opacity="0.07" />
                <stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="0.07" />
              </linearGradient>
              </defs>
              <g filter="url(#Filter_0)">
              <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
               d="M81.608,15.565 C80.309,15.565 79.374,15.989 78.425,16.422 L78.425,26.220 C79.335,26.308 79.854,26.308 80.718,26.308 C83.834,26.308 84.260,24.882 84.260,22.893 L84.260,18.212 C84.260,16.744 83.773,15.565 81.608,15.565 M60.918,15.030 C58.756,15.030 58.263,16.214 58.263,17.682 L58.263,18.506 L63.570,18.506 L63.570,17.682 C63.570,16.214 63.077,15.030 60.918,15.030 M20.837,25.229 C20.837,26.390 21.385,26.992 22.596,26.992 C23.895,26.992 24.663,26.570 25.611,26.135 L25.611,23.812 L22.771,23.812 C21.427,23.812 20.837,24.061 20.837,25.229 M101.735,15.565 C99.570,15.565 98.820,16.744 98.820,18.212 L98.820,23.574 C98.820,25.047 99.570,26.229 101.735,26.229 C103.894,26.229 104.650,25.047 104.650,23.574 L104.650,18.212 C104.650,16.744 103.894,15.565 101.735,15.565 M10.226,31.240 L3.862,31.240 L3.862,15.856 L0.681,15.856 L0.681,10.553 L3.862,10.553 L3.862,7.371 C3.862,3.046 5.658,0.473 10.758,0.473 L15.006,0.473 L15.006,5.776 L12.352,5.776 C10.366,5.776 10.234,6.517 10.234,7.899 L10.226,10.553 L15.036,10.553 L14.473,15.856 L10.226,15.856 L10.226,31.240 ZM31.978,31.280 L26.674,31.280 L26.445,29.939 C24.022,31.280 21.860,31.497 20.435,31.497 C16.544,31.497 14.473,28.902 14.473,25.312 C14.473,21.078 16.889,19.567 21.212,19.567 L25.611,19.567 L25.611,18.652 C25.611,16.490 25.363,15.856 22.035,15.856 L16.593,15.856 L17.125,10.553 L23.073,10.553 C30.377,10.553 31.978,12.858 31.978,18.695 L31.978,31.280 ZM50.016,16.244 C46.715,15.680 45.768,15.555 44.180,15.555 C41.326,15.555 40.465,16.184 40.465,18.602 L40.465,23.180 C40.465,25.599 41.326,26.229 44.180,26.229 C45.768,26.229 46.715,26.104 50.016,25.537 L50.016,30.707 C47.125,31.356 45.241,31.526 43.650,31.526 C36.816,31.526 34.101,27.937 34.101,22.752 L34.101,19.038 C34.101,13.850 36.816,10.255 43.650,10.255 C45.241,10.255 47.125,10.427 50.016,11.075 L50.016,16.244 ZM69.934,22.752 L58.263,22.752 L58.263,23.180 C58.263,25.599 59.126,26.229 61.978,26.229 C64.543,26.229 66.107,26.104 69.401,25.537 L69.401,30.707 C66.224,31.356 64.570,31.526 61.450,31.526 C54.616,31.526 51.899,27.937 51.899,22.752 L51.899,18.506 C51.899,13.971 53.916,10.255 60.918,10.255 C67.921,10.255 69.934,13.927 69.934,18.506 L69.934,22.752 ZM90.624,22.849 C90.624,27.861 89.190,31.516 80.503,31.516 C77.368,31.516 75.525,31.240 72.063,30.707 L72.063,2.065 L78.425,1.006 L78.425,11.024 C79.800,10.513 81.580,10.255 83.200,10.255 C89.565,10.255 90.624,13.105 90.624,17.682 L90.624,22.849 ZM111.020,22.960 C111.020,27.282 109.233,31.475 101.756,31.475 C94.275,31.475 92.455,27.282 92.455,22.960 L92.455,18.786 C92.455,14.462 94.275,10.269 101.756,10.269 C109.233,10.269 111.020,14.462 111.020,18.786 L111.020,22.960 ZM131.400,22.960 C131.400,27.282 129.611,31.475 122.138,31.475 C114.656,31.475 112.835,27.282 112.835,22.960 L112.835,18.786 C112.835,14.462 114.656,10.269 122.138,10.269 C129.611,10.269 131.400,14.462 131.400,18.786 L131.400,22.960 ZM152.319,31.240 L145.420,31.240 L139.588,21.517 L139.588,31.240 L133.224,31.240 L133.224,2.065 L139.588,1.006 L139.588,19.787 L145.420,10.553 L152.319,10.553 L145.950,20.629 L152.319,31.240 ZM122.115,15.565 C119.954,15.565 119.204,16.744 119.204,18.212 L119.204,23.574 C119.204,25.047 119.954,26.229 122.115,26.229 C124.274,26.229 125.038,25.047 125.038,23.574 L125.038,18.212 C125.038,16.744 124.274,15.565 122.115,15.565 "/>
              </g>
              <path fill="url(#PSgrad_0)"
               d="M81.608,15.565 C80.309,15.565 79.374,15.989 78.425,16.422 L78.425,26.220 C79.335,26.308 79.854,26.308 80.718,26.308 C83.834,26.308 84.260,24.882 84.260,22.893 L84.260,18.212 C84.260,16.744 83.773,15.565 81.608,15.565 M60.918,15.030 C58.756,15.030 58.263,16.214 58.263,17.682 L58.263,18.506 L63.570,18.506 L63.570,17.682 C63.570,16.214 63.077,15.030 60.918,15.030 M20.837,25.229 C20.837,26.390 21.385,26.992 22.596,26.992 C23.895,26.992 24.663,26.570 25.611,26.135 L25.611,23.812 L22.771,23.812 C21.427,23.812 20.837,24.061 20.837,25.229 M101.735,15.565 C99.570,15.565 98.820,16.744 98.820,18.212 L98.820,23.574 C98.820,25.047 99.570,26.229 101.735,26.229 C103.894,26.229 104.650,25.047 104.650,23.574 L104.650,18.212 C104.650,16.744 103.894,15.565 101.735,15.565 M10.226,31.240 L3.862,31.240 L3.862,15.856 L0.681,15.856 L0.681,10.553 L3.862,10.553 L3.862,7.371 C3.862,3.046 5.658,0.473 10.758,0.473 L15.006,0.473 L15.006,5.776 L12.352,5.776 C10.366,5.776 10.234,6.517 10.234,7.899 L10.226,10.553 L15.036,10.553 L14.473,15.856 L10.226,15.856 L10.226,31.240 ZM31.978,31.280 L26.674,31.280 L26.445,29.939 C24.022,31.280 21.860,31.497 20.435,31.497 C16.544,31.497 14.473,28.902 14.473,25.312 C14.473,21.078 16.889,19.567 21.212,19.567 L25.611,19.567 L25.611,18.652 C25.611,16.490 25.363,15.856 22.035,15.856 L16.593,15.856 L17.125,10.553 L23.073,10.553 C30.377,10.553 31.978,12.858 31.978,18.695 L31.978,31.280 ZM50.016,16.244 C46.715,15.680 45.768,15.555 44.180,15.555 C41.326,15.555 40.465,16.184 40.465,18.602 L40.465,23.180 C40.465,25.599 41.326,26.229 44.180,26.229 C45.768,26.229 46.715,26.104 50.016,25.537 L50.016,30.707 C47.125,31.356 45.241,31.526 43.650,31.526 C36.816,31.526 34.101,27.937 34.101,22.752 L34.101,19.038 C34.101,13.850 36.816,10.255 43.650,10.255 C45.241,10.255 47.125,10.427 50.016,11.075 L50.016,16.244 ZM69.934,22.752 L58.263,22.752 L58.263,23.180 C58.263,25.599 59.126,26.229 61.978,26.229 C64.543,26.229 66.107,26.104 69.401,25.537 L69.401,30.707 C66.224,31.356 64.570,31.526 61.450,31.526 C54.616,31.526 51.899,27.937 51.899,22.752 L51.899,18.506 C51.899,13.971 53.916,10.255 60.918,10.255 C67.921,10.255 69.934,13.927 69.934,18.506 L69.934,22.752 ZM90.624,22.849 C90.624,27.861 89.190,31.516 80.503,31.516 C77.368,31.516 75.525,31.240 72.063,30.707 L72.063,2.065 L78.425,1.006 L78.425,11.024 C79.800,10.513 81.580,10.255 83.200,10.255 C89.565,10.255 90.624,13.105 90.624,17.682 L90.624,22.849 ZM111.020,22.960 C111.020,27.282 109.233,31.475 101.756,31.475 C94.275,31.475 92.455,27.282 92.455,22.960 L92.455,18.786 C92.455,14.462 94.275,10.269 101.756,10.269 C109.233,10.269 111.020,14.462 111.020,18.786 L111.020,22.960 ZM131.400,22.960 C131.400,27.282 129.611,31.475 122.138,31.475 C114.656,31.475 112.835,27.282 112.835,22.960 L112.835,18.786 C112.835,14.462 114.656,10.269 122.138,10.269 C129.611,10.269 131.400,14.462 131.400,18.786 L131.400,22.960 ZM152.319,31.240 L145.420,31.240 L139.588,21.517 L139.588,31.240 L133.224,31.240 L133.224,2.065 L139.588,1.006 L139.588,19.787 L145.420,10.553 L152.319,10.553 L145.950,20.629 L152.319,31.240 ZM122.115,15.565 C119.954,15.565 119.204,16.744 119.204,18.212 L119.204,23.574 C119.204,25.047 119.954,26.229 122.115,26.229 C124.274,26.229 125.038,25.047 125.038,23.574 L125.038,18.212 C125.038,16.744 124.274,15.565 122.115,15.565 "/>
              </svg>

              <div class="follow-social__facebook-img-wrapper">
                <a href="#">
                  <img class="follow-social__facebook-img" src="img/fb-box@2x.jpg" alt="">
                </a>
              </div>

              </div>
            </div>
          </div>
        </div>

      </div>  <!-- follow-social__container -->
    </div>  <!-- follow-social -->

  <footer class="page-footer">
    <div class="page-footer__container">
      <div class="page-footer__copyright">
        <span class="page-footer__year">© 2017 Surfers Co.</span>
        <span class="page-footer__author-name">Design by @lucaalco</span>
      </div>
      <div class="page-footer__main">
        <nav class="page-footer__nav">
          <ul class="page-footer__nav-list">
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">About</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Boards</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Accessories</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Blog</a></li>
          </ul>
          <ul class="page-footer__nav-list">
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Technology</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Team</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Dealers</a></li>
            <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Contact us</a></li>
          </ul>
        </nav>
        <section class="page-footer__subscribe">
          <h3 class="page-footer__subscribe-title">Subscribe to our newsletter</h3>
          <form class="page-footer__subscribe-form">
            <div class="page-footer__subscribe-form-inner">
              <svg class="page-footer__subscribe-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="16px" height="11px" viewBox="0 0 16 11">
                <path fill-rule="evenodd"  fill="rgb(77, 77, 77)"
                 d="M10.905,4.935 L15.776,0.216 C15.914,0.352 16.000,0.541 16.000,0.750 L16.000,10.250 C16.000,10.447 15.922,10.625 15.798,10.759 L10.905,4.935 ZM0.249,0.195 C0.382,0.075 0.557,-0.000 0.750,-0.000 L15.250,-0.000 C15.443,-0.000 15.617,0.075 15.750,0.195 L8.000,6.250 L0.249,0.195 ZM0.202,10.759 C0.078,10.625 -0.000,10.447 -0.000,10.250 L-0.000,0.750 C-0.000,0.541 0.086,0.352 0.223,0.216 L5.094,4.935 L0.202,10.759 ZM8.000,7.750 L10.034,5.779 L15.764,10.793 C15.630,10.920 15.449,11.000 15.250,11.000 L0.750,11.000 C0.550,11.000 0.370,10.920 0.236,10.793 L5.966,5.779 L8.000,7.750 Z"/>
                </svg>
              <input class="page-footer__subscribe-input" type="email" placeholder="Your e-mail" required>
              <button class="page-footer__subscribe-button">
                <svg
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   width="22px" height="22px">
                  <path fill-rule="evenodd"  fill="rgb(0, 176, 255)"
                   d="M11.000,-0.000 C17.075,-0.000 22.000,4.924 22.000,11.000 C22.000,17.075 17.075,22.000 11.000,22.000 C4.925,22.000 -0.000,17.075 -0.000,11.000 C-0.000,4.924 4.925,-0.000 11.000,-0.000 Z"/>
                  <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                   d="M16.775,12.065 L16.775,12.065 L12.367,16.780 L12.367,16.779 C12.235,16.915 12.055,17.000 11.857,17.000 C11.451,17.000 11.122,16.648 11.122,16.214 C11.122,16.002 11.201,15.810 11.328,15.669 L11.328,15.669 L14.492,12.285 L5.735,12.285 C5.329,12.285 5.000,11.933 5.000,11.500 C5.000,11.066 5.329,10.714 5.735,10.714 L14.495,10.714 L11.378,7.381 C11.222,7.237 11.122,7.024 11.122,6.785 C11.122,6.351 11.451,6.000 11.857,6.000 C12.054,6.000 12.233,6.083 12.365,6.218 L12.367,6.216 L16.775,10.930 L16.775,10.931 C16.914,11.074 17.000,11.274 17.000,11.496 C17.000,11.497 17.000,11.497 17.000,11.498 C17.000,11.499 17.000,11.499 17.000,11.500 C17.000,11.722 16.914,11.922 16.775,12.065 Z"/>
                  </svg>
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </footer>



  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/handlebars-v4.0.11.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
